 body {

   font-family: 'Roboto', sans-serif;
} 

a:link{
color: blue;
}
a:visited{
    color: rgb(255, 255, 255);
}
a:active{
    color: rgb(0, 0, 0);
}
ul>a:hover{
    color: rgb(7, 98, 233);
}
ul>a{
    display: inline-block;
    text-align: justify;
    margin: 10px; 
    background-color: rgb(255, 0, 0);
}
h1{
    text-decoration: underline;
    color: blue;
    border-radius: 15px;
    background-color: aqua;
}   
h2{
    color: darkblue;
    text-decoration: underline;
    background-color: aqua;
}
form{
    
    text-align: center;
}
label{
    display: block;
}
button{
    display: block;
    text-align: center;
}
